<section id="laptop" class="container-fluid pt-5 pb-5 bg-light text-dark">
    <h1 class="text-center">BEST LAPTOP</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <app-baitap4-laptop-item></app-baitap4-laptop-item>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <app-baitap4-laptop-item1></app-baitap4-laptop-item1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <app-baitap4-laptop-item2></app-baitap4-laptop-item2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <app-baitap4-laptop-item3></app-baitap4-laptop-item3>
        </div>
    </div>
</section>