<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
            <img src="../../../assets/img/promotion_1.png" alt="" style="max-width: 100%">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
            <img src="../../../assets/img/promotion_2.png" alt="" style="max-width: 100%">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
            <img src="../../../assets/img/promotion_3.jpg" alt="" style="max-width: 100%">
        </div>
    </div>
</div>